{% extends 'blog/base.html' %}
{% load static %}

{% block content %}
<h2 class="text-center text-primary">Listado de Artículos</h2>
<div class="row">
    {% for article in articles %}
    <div class="col-md-4 mb-4">
        <div class="card h-100">
            {% if article.image %}
            <img src="{{ article.image.url }}" class="card-img-top"   alt="{{ article.title }}">
            {% else %}
            <img src="{% static 'images/default.jpg' %}" class="card-img-top" alt="Imagen por defecto">
            {% endif %}
            <div class="card-body" >
                <h5 class="card-title">{{ article.title }}</h5>
                <p class="card-text" background-color ="#d4edda" >{{ article.content|truncatewords:20 }} </p>
                <a href="{% url 'article_detail' article.slug %}" class="btn btn-outline-primary">Leer más</a>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No hay artículos disponibles.</p>
    {% endfor %}
</div>
{% endblock %}