{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Mi Blog de IA{% endblock %}</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- Tus estilos personalizados -->
    
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    {% block extra_css %}{% endblock %}
</head>
<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{% url 'home' %}">
                <img src="{% static 'logo.jpeg' %}" alt="Logo" style="height: 40px; width: auto;">

                <!--<img src="{{ MEDIA_URL }}logo.jpeg" alt="Logo" style="height: 40px;">-->  <!-- Logo en la barra de navegación -->
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Inicio</a>
                    
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'article_create' %}">Crear Post</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Gestionar Posts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <a class="dropdown-item" href="{% url 'article_list' %}">Listar Posts</a>
                                </li>
                                {% for article in articles %}
                                    <li class="dropdown-item">
                                        <a   href="{% url 'article_edit' article.slug %}" class="btn btn-outline-primary btn-sm">Editar : {{ article.title }}</a>
                                    </li>
                                    <li class="dropdown-item">
                                        <a href="{% url 'article_delete' article.slug %}" class="btn btn-outline-danger btn-sm" >Eliminar : {{ article.title }} </a>
                                    </li>
                                {% empty %}
                                    <li><span class="dropdown-item">No hay artículos disponibles.</span></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Filtrar Posts
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li>
                                    <form method="get" action="{% url 'article_list' %}" class="px-3 py-2">
                                        <div class="form-group">
                                            <label for="category" class="form-label">Categoría:</label>
                                            <select name="category" id="category" class="form-select">
                                                <option value="">Todas</option>
                                                {% for category in categories %}
                                                <option value="{{ category.slug }}" {% if request.GET.category == category.slug %}selected{% endif %}>
                                                    {{ category.name }}
                                                </option>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <label for="order" class="form-label">Antigüedad:</label>
                                            <select name="order" id="order" class="form-select">
                                                <option value="">Sin orden</option>
                                                <option value="asc" {% if request.GET.order == 'asc' %}selected{% endif %}>Ascendente</option>
                                                <option value="desc" {% if request.GET.order == 'desc' %}selected{% endif %}>Descendente</option>
                                            </select>
                                                
                                        </div>
                                        <div class="form-group">
                                            <label for="alphabet" class="form-label">Orden Alfabético:</label>
                                            <select name="alphabet" id="alphabet" class="form-select">
                                                <option value="">Sin orden</option>
                                                <option value="asc" {% if request.GET.alphabet == 'asc' %}selected{% endif %}>A-Z</option>
                                                <option value="desc" {% if request.GET.alphabet == 'desc' %}selected{% endif %}>Z-A</option>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary mt-2">Filtrar</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                
                        <!-- Enlace a la página About Us -->

                    {% endif %}
                </ul>
                <ul class="navbar-nav" >
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <span class="nav-link">Hola, {{ user.username }}</span>
                        </li>
                        <li class="nav-item">
                            <form method="post" action="{% url 'logout' %}">
                                {% csrf_token %}
                                <button type="submit" class="btn btn-link nav-link">Cerrar sesión</button>
                            </form>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'about_us' %}">Acerca de Nosotros</a> 
                        </li>
                        {% else %}
                        
                            <li class="nav-item"  >
                                <a class="nav-link"  href="{% url 'login' %}">Iniciar sesión</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'register' %}">Registrarse</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'about_us' %}">Acerca de Nosotros</a> 
                            </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="container mt-4">
        {% block content %}
        {% endblock %}
    </main>
    <footer class="bg-dark text-light text-center py-3 mt-5">
        <div class="container">
            © 2024 Blog de IA - Todos los derechos reservados
        </div>
    </footer>

    

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Tus scripts personalizados -->
    <!--{% block extra_js %}{% endblock %} -->
</body>

</html>
